<web-app
	version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>Archetype Created Web Application</display-name>

	


	<servlet-mapping>
		<servlet-name>main</servlet-name>
		<url-pattern>/app</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addServlet</servlet-name>
		<servlet-class>com.netcracker.odmg.secondgroup.zoxal.nc2_libraryCard.controllers.AddController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>addServlet</servlet-name>
		<url-pattern>/app/add</url-pattern>
	</servlet-mapping>
		<servlet>
	  	<servlet-name>main</servlet-name>
	  	<servlet-class>com.netcracker.odmg.secondgroup.zoxal.nc2_libraryCard.controllers.MainController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>editServlet</servlet-name>
		<servlet-class>com.netcracker.odmg.secondgroup.zoxal.nc2_libraryCard.controllers.EditController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>editServlet</servlet-name>
		<url-pattern>/app/edit</url-pattern>
	</servlet-mapping>

	<servlet>
			<servlet-name>deleteServlet</servlet-name>
			<servlet-class>com.netcracker.odmg.secondgroup.zoxal.nc2_libraryCard.controllers.DeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteServlet</servlet-name>
		<url-pattern>/app/delete</url-pattern>
	</servlet-mapping>

</web-app>
